.rootToc {
  padding-left: 0;
}

.onThisPage {
  font-weight: 600;
}

.noSeparator {
  border: none;
  margin-left: -.5rem;
}

.topBorder {
  border-top: solid 1px var(--ifm-toc-border-color);
}

.extraTocEntries {
  font-size: .8rem;
  padding-top: 1rem;
}
