@keyframes cog {
  to {
    transform: rotate(450deg);
  }
}

.wrapper {
  position: relative;
  padding: 6rem 1rem 2rem 1rem;
  background: linear-gradient(to right, #0771d5, #27489f);
  clip-path: url(#footerMobilePath);
  overflow: hidden;
}

.logo {
  display: none;
  position: absolute;
  right: 0;
  top: -240px;
  opacity: 0.2;
  z-index: -1;
  animation: cog linear;
  animation-timeline: --page-timeline;

  svg {
    height: 700px;
    aspect-ratio: 1;
  }

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

@media (min-width: 997px) {
  .wrapper {
    background: linear-gradient(to right, #0771d5, #27489f);
    clip-path: url(#footerDesktopPath);
  }

  .logo {
    display: initial;
  }
}
