.wrapper {
  padding: 6rem 1rem 2rem 1rem;
  background: linear-gradient(to right, #0771d5, #27489f);
  clip-path: url(#footerMobilePath);
}
@media (min-width: 997px) {
  .wrapper {
    background: linear-gradient(to right, #0771d5, #27489f);
    clip-path: url(#footerDesktopPath);
  }
}
