:root {
  --svgo-font-mono: 'Liberation Mono', Monaco, Cousine, Consolas, monospace;
  --svgo-font-sans: 'Nimbus Sans', Helvetica, Arial, Roboto, 'Liberation Sans', 'DejaVu Sans', Arimo, sans-serif;
  --svgo-global-width: 1200px;
  --svgo-pill-bg-color: #cbe2f9;
  --svgo-pill-fg-color: #0b5cad;
  --svgo-pri-bg-color: #fff;
  --svgo-pri-fg-color: #153243;
  --svgo-search-bg-color: var(--svgo-tir-bg-color);
  --svgo-search-bg-hover: #dbdbdb;
  --svgo-sec-bg-color: #f6f5f4;
  --svgo-tir-bg-color: #e8e8e8;
  --svgo-logo-fg-color: #1d1d1b;
  --svgo-button-hover-background-color: #1b4055;
  --ifm-background-color: var(--svgo-pri-bg-color) !important;
  --ifm-card-background-color: var(--svgo-sec-bg-color);
  --ifm-code-font-size: 95%;
  --ifm-color-primary: #216be2;
  --ifm-container-width-xl: var(--svgo-global-width);
  --ifm-footer-padding-horizontal: 1rem;
  --ifm-navbar-background-color: var(--svgo-pri-bg-color);
  --ifm-navbar-shadow: 0 1rem 1rem 0 #0a1e291a;
  --ifm-spacing-horizontal: 1rem;
  --search-local-hit-background: var(--svgo-sec-bg-color);

  font-family: var(--svgo-font-sans);
  color: var(--svgo-pri-fg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --svgo-pill-bg-color: #0b5cad;
    --svgo-pill-fg-color: #cbe2f9;
    --svgo-pri-bg-color: #142631;
    --svgo-pri-fg-color: #fff;
    --svgo-search-bg-color: #5a6a74;
    --svgo-search-bg-hover: #647682;
    --svgo-sec-bg-color: #1c262d;
    --svgo-tir-bg-color: #5a6a74;
    --svgo-logo-fg-color: #fff;
    --svgo-button-hover-background-color: #e6e6e6;
    --ifm-color-primary: #66b5ff;
    --ifm-navbar-shadow: 0 1rem 1rem 0 #0a1e29;
  }
}

/* Button overrides */
.button {
  --ifm-button-color: var(--svgo-pri-bg-color);
  --ifm-button-background-color: var(--svgo-pri-fg-color);
  --ifm-button-border-color: var(--svgo-pri-fg-color);
}
.button:hover {
  --ifm-button-background-color: var(--svgo-button-hover-background-color);
}

/* Navbar overrides */
.navbar__inner {
  max-width: var(--svgo-global-width);
  margin: 0 auto;
}

@media (min-width: 997px) {
  .github-shield {
    display: flex;
  }
}

/* TOC overrides */
.table-of-contents__link--active {
  color: var(--svgo-pri-fg-color);
}

/* Search overrides */
nav input {
  background-color: var(--svgo-search-bg-color) !important;
}
nav input:hover {
  background-color: var(--svgo-search-bg-hover) !important;
}
nav div kbd {
  background-color: var(--svgo-pri-bg-color) !important;
}
@media (min-width: 577px) {
  nav input {
    width: 200px !important;
  }
}

/* Footer overrides */
footer {
  --ifm-link-color: #fff;
  --ifm-link-hover-color: #cac4ce;
  --ifm-footer-background-color: none;
  --ifm-footer-color: #fff;
  --ifm-footer-link-color: #fff;
  --ifm-footer-link-hover-color: #cac4ce;
  --ifm-footer-title-color: #fff;
}
